<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="mybody">

<header th:replace="fragments :: header"></header>




<form method = "post" th:action="@{/register}" class ="myform" th:object="${user}">
    <h1 style="color:black; margin-left:100px"> Register!</h1>

    <label style="color:black"> <b>Name: </b></label>
    <input type="text"  class="myinput" th:field="*{name}" placeholder="John Lennon"/>
    <span th:errors="*{name}" class="errors"></span>
    <label style="color:black"> <b>Email: </b></label>
    <input type="text"  class="myinput" th:field="*{email}" placeholder="John.Lennon@Beatles.com" />
    <span th:errors="*{email}" class="errors"></span>
    <label style="color:black"> <b>Password: </b></label>
    <input type="password"  class="myinput" th:field="*{password}" placeholder="fabfour"/>
    <span th:errors="*{password}" class="errors"></span>
    <!--<label style="color:black"> <b>Semester: </b></label>
    <input type="text"  class="myinput" th:field="*{semester}" placeholder="Fall 2019"/>
    <span th:errors="*{semester}" class="errors"></span>-->


    <input type="submit" value="Register!" class="mybutton"/>
</form>



</body>
</html>