<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="mybody">

<header th:replace="fragments :: header"></header>



<form method = "post" th:action="@{/signin}" class ="myform" th:object="${user}">
    <h1 style="color:black; margin-left:100px"> Sign In!</h1>

    <label th:for="name" style="color:black"> <b>Name: </b></label>
    <input type="text"  class="myinput" th:field="*{name}" placeholder="John Lennon"/>
    <span th:errors="*{name}" class="errors"></span>
    <label th:for="email" style="color:black"> <b>Email: </b></label>
    <input type="text" class="myinput" th:field="*{email}" placeholder="John.Lennon@Beatles.com" />
    <span th:errors="*{email}" class="errors"></span>
    <label th:for="password" style="color:black"> <b>Password: </b></label>
    <input type="password"  class="myinput" th:field="*{password}" placeholder="fabfour"/>
    <span th:errors="*{password}" class="errors"></span>

    <input type="submit" value="Sign In!" class="mybutton"/>
</form>



</body>
</html>