<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="mybody">

<header th:replace="fragments :: header"></header>


<nav> <a href="/addassignment" style="color:black;"/> Add Assignments!</nav>

<table class="table">
    <tr>
        <td>Course Name: </td>
        <td>Assignment Type: </td>
        <td>Details: </td>
        <td>Due: </td>

    </tr>
    <tr th:each="assignment : ${assignments}">

        <td th:text="${assignment.course}"></td>
        <td th:text="${assignment.type}"></td>
        <td th:text="${assignment.details}"></td>
        <td th:text="${assignment.due}"></td>


    </tr>





</body>
</html>