<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>


    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/script.js}"></script>


</head>

<header th:fragment="header">

    <div class="topnav">

                <div class="dropdown">
                <button class="dropbtn"> FALL 2019
                </button>
                <div class="dropdown-content">
                    <a th:href="@{/}">Home</a>
                    <a th:href="@{/class/add}">Add Class</a>
                    <a th:href="@{/assignments/add}">Add Assignment</a>
                </div>

        <a href="#" th:href="@{/class/class.classId}" >   HIS 401    </a>
        <a href="#" th:href="@{/class/class.classId}">    HIS 411    </a>
        <a href="#" th:href="@{/class/class.classId}">    HIS 473   </a>
        <a href="#" th:href="@{/class/class.classId}">    LIS 431    </a>
        <a href="#" th:href="@{/class/class.classId}">    UNI 301    </a>


        <a th:href="@{/logout}" class="userfloat"> Logout </a>
        <a th:href="@{/signin}" class="userfloat"> Sign In </a>
        <a th:href="@{/register}" class="userfloat"> Register </a>





        </div>

        </div>
    </div>
</header>
<body>


</body>

<footer th:fragment="footer">

</footer>



</html>

