<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />


</head>

<header th:fragment="header">

    <div class="topnav">

        <div>

        <a href="#" th:href="@{/}" >||Fall 2019||</a>

        </div>

        <div>
        <a href="#" th:href="@{/class/class.classId}" >   HIS 401    </a>
        <a href="#" th:href="@{/class/class.classId}">    HIS 411    </a>
        <a href="#" th:href="@{/class/class.classId}">    HIS 473   </a>
        <a href="#" th:href="@{/class/class.classId}">    LIS 431    </a>
        <a href="#" th:href="@{/class/class.classId}">    UNI 301    </a>
        </div>
        <div style="float:right;">
            <a th:href="${register}"> Register </a>
            <a th:href="${signin}"> Sign In </a>
            <a th:href="${logout}"> Logout </a>

        </div>




        </div>
</header>
<body>

</body>



</html>

