<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="bg-dark">

<header th:replace="fragments :: header"></header>

<table>

<thead><h1>All Assignments</h1></thead>
<tbody th:each="assignment: ${assignments}">
    <tr>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Drop</button>

                <div class="dropdown-menu" >
                    <a class="dropdown-item" th:href="@{/assignments/remove}">Remove</a>
                    <a class="dropdown-item" th:href="@{/assignments/complete}">Complete</a>
                    <a class="dropdown-item" th:href="@{/assignments/edit}">Edit</a>
                </div>
            </div>


        </td>
        <th class="text-info"> Class: </th>
        <td th:text="${assignment.course}"> </td>
        </td>
        <div>
        <th class="text-info"> Type: </th>
        <td th:text="${assignment.type}"> </td>
        </div>
        <div>
        <th class="text-info"> Details: </th>
        <td th:text="${assignment.details}"> </td>
        </div>
        <div>
        <th class="text-info"> Due Date: </th>
        <td th:text="${assignment.due}"> </td>
        <td>
           <!-- <form method = "post" class="myform" th:each = "assignment : ${assignments}" >
                    <input name = "ids" type="submit" value = "Remove" th:id="${assignment.assignmentId}"/>

            </form>-->

            <!--th:href="@{${'/assignment/' + assignments.assignmentId}}"-->
        </td>

        </div>

    </tr>
</tbody>



</table>


<footer th:replace="fragments :: footer">


</footer>

</body>
</html>