<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="mybody">

<header th:replace="fragments :: header"></header>

<h1>All Assignments.</h1>


<div class= "coursetable">
<table th:each="class: ${classes}" >


</table>
<table th:each="assignment: ${assignments}">
    <tr>
        <span style="color:white;">---------------------------------------------------------------------------------</span>
        <td style="color:blue;"> Class: </td>
        <td th:text="${assignment.course}"> </td>
        <td></td>
        <td></td>
        <td style="color:blue;"> Type: </td>
        <td th:text="${assignment.type}"> </td>
        <td></td>
        <td></td>
        <td style="color:blue;"> Details: </td>
        <td th:text="${assignment.details}"> </td>
        <td></td>
        <td></td>
        <td style="color:blue; "> Due Date: </td>
        <td th:text="${assignment.due}"> </td>
        <td><select> <option th:href="@{/assignments/complete}">Complete</option>
        <option th:href="@{/assignments/remove}">Remove</option>
        <option th:href="@{/assignments/edit}">Edit</option>
        </select></td>
        <span style="color:white;">---------------------------------------------------------------------------------</span>
        </br>

    </tr>



</table>
</div>

<footer th:replace="fragments :: footer">


</footer>

</body>
</html>