<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="mybody">

<header th:replace="fragments :: header"></header>

<h1>All Assignments.</h1>


<div class= "coursetable">
<table th:each="class: ${classes}" >


</table>
<table th:each="assignment: ${assignments}">
    <tr>
        <td style="color:red;"> Class: </td>
        <td th:text="${assignment.course}"> </td>
        <td></td>
        <td></td>
        <td style="color:red;"> Type: </td>
        <td th:text="${assignment.type}"> </td>
        <td></td>
        <td></td>
        <td style="color:red;"> Details: </td>
        <td th:text="${assignment.details}"> </td>
        <td></td>
        <td></td>
        <td style="color:red;"> Due Date: </td>
        <td th:text="${assignment.due}"> </td>
        </br>

    </tr>



</table>
</div>
</body>
</html>