<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="bg-dark">

<header th:replace="fragments :: header"></header>



<form method = "post" th:action="@{/class/add}" class ="myform-container bg-info rounded" th:object="${class}">
    <h1 style="color:black; margin-left:80px"> Add a Class!</h1>
    <label style="color:black"> <b>Class: </b></label>
    <input type="text"  class="myinput" th:field="*{name}" placeholder=" i.e. History 101"/>
    <span th:errors="*{name}" class="errors"></span>
    <label style="color:black"><b>Class Description: </b></label>
    <input type="text"  class="myinput" th:field="*{description}" placeholder=" i.e. Intro to History" />
    <span th:errors="*{description}" class="errors"></span>
    <label style="color:black"> <b>Semester: </b></label>
    <input type="text"  class="myinput" th:field="*{semester}" placeholder=" i.e. Fall 2019"/>
    <span th:errors="*{semester}" class="errors"></span>

    <input type="submit" value="Add Class!" class="mybutton"/>
</form>



</body>
</html>
