<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="mybody">

<header th:replace="fragments :: header"></header>



<form method = "post" th:action="@{/class/add}" class ="myform" th:object="${classes}">
    <h1 > Add a Class!</h1>
    <p> <b>Class Name: </b><input type="text"  class="myinput" th:field="*{name}" placeholder=" i.e. History 101"/></p>
    <span th:errors="*{name}" class="errors"></span>
    <p> <b>Class Number: </b><input type="text"  class="myinput" th:field="*{number}" placeholder=" i.e. HIS 101" /></p>
    <span th:errors="*{number}" class="errors"></span>
    <p> <b>Semester: </b><input type="text"  class="myinput" th:field="*{semester}" placeholder=" i.e. Fall 2019"/></p>
    <span th:errors="*{semester}" class="errors"></span>

    <input type="submit" value="Add Class!" class="mybutton"/>
</form>



</body>
</html>
