<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="mybody">

<header th:replace="fragments :: header"></header>


<div>
<table class="table"  style="color:white;" th:object="${classes}">
    <tr th:each="assignment : ${assignments}">
        <td style="font-size: 20px; "><u th:text="${assignment.course}"></u></td>

    </tr>
    <tr  th:each="assignment : ${assignments}">

        <td th:text="${assignment.type}"></td>
        <td th:text="${assignment.details}"></td>
        <td th:text="${assignment.due}"></td>
    </tr>


</table>
</div>



</body>
</html>