<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="mybody">

<header th:replace="fragments :: header"></header>



<form method = "post" th:action="@{/class/edit}"class ="myform" th:object="${assignments}">

    <h1>Edit Class!</h1>

    <p> <b>Class Name: </b><input type="text"  class="myinput" th:field="*{name}" /></p>
    <span th:errors="*{name}" class="errors"></span>
    <p> <b>Class Description: </b><input type="text"  class="myinput" th:field="*{number}"/></p>
    <span th:errors="*{number}" class="errors"></span>
    <p> <b>Semester: </b><input type="text"  class="myinput" th:field="*{semester}" /></p>
    <span th:errors="*{semester}" class="errors"></span>



    <input type="submit" value="Edit Class" class="mybutton"/>


</form>
</body>
</html>