<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="mybody">

<header th:replace="fragments :: header"></header>



<form method = "post" th:action="@{/assignments/edit}" class ="myform" th:object="${assignments}">
    <!--th:action="@{${'/assignment/' + assignments.assignmentId}}"-->
    <h1 style="color:black; margin-left:50px">Edit Assignment!</h1>

    <label style="color:black"> <b>Class: </b></label>
    <input type="text"  class="myinput" th:field="*{course}" />
    <span th:errors="*{course}" class="errors"></span>

    <label style="color:black"> <b>Assignment Type:</b></label>
    <select class="myinput" th:field="*{type}">
        <option value="Pick One">Pick One</option>
        <option value="Weekly Assignment">Weekly Assignment</option>
        <option value="Quiz">Quiz</option>
        <option value="Test">Test</option>
        <option value="Paper">Paper</option>
    </select>
    <span th:errors="*{type}" class="errors"></span>

    <label style="color:black; margin-right:22px"> <b>Details: </b></label>
    <input type="text"  class="myinput" th:field="*{details}" />
    <span th:errors="*{details}" class="errors"></span>

    <label style="color:black"> <b> Due Date:</b></label>
    <input type="text"  class="myinput" th:field="*{due}" />
    <span th:errors="*{due}" class="errors"></span>



    <input type="submit" value="Edit Assignment" class="mybutton"/>


</form>
</body>
</html>